.toast {
    font-size: 40px;
    color: #ffffff82;
    font-weight: 300;
    border: solid 2px #bb1c1ca6;
    border-radius: 10px;
    padding: 20px 20px 5px 20px;
    background: #000000a6;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: -50px;
    transform: translate(-50%, -50%);
    transition: top 0.5s; 
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05); 

    &::after {
        content: ".";
        color: #bb1c1ca6;
        padding-left: 10px;
    }

    &.show {
        top: 60px;
        transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
}
