.toast {
    font-size: 20px;
    color: black;
    font-weight: 300;
    border-radius: 20px;
    padding: 15px;
    background: #ff2f2fa6;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: -50px;
    transform: translate(-50%, -50%);
    transition: top 0.5s; 
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05); 

    &.show {
        top: 60px;
        transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
}
